@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    input {
        @apply text-black rounded mt-1 p-2 outline-none shadow-lg focus:shadow-[gray];
    }

    button {
        @apply rounded-lg py-1 px-2;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    color: whitesmoke;
}

.feed {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 700px) 1fr;
}

.main {

    overflow-y: scroll;

    &::-webkit-scrollbar {
        background: transparent;
        width: 5px;
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;

    }
}